.juilayout-widget {
    height:		400px;
    margin:		0 auto;
    width:		100%;
    /*max-width:	1200px;*/
    min-width:	300px;
}

.juilayout-pane-fill { 
	background:	#FFF;
	border:		1px solid #BBB;
	padding:	0px;
	overflow:	hidden;
}
    
